@mixin card {
  background-color: white;
  box-shadow: rgb(212 212 212 / 60%) -2px 5px 13px 2px;
  padding: 6%;
  position: relative;
  font-size: 1.4rem;
  text-align: justify;
  border-radius: 20px;
  height: max-content;
}

@mixin silaba($color) {
  color: $color;
  animation: 10s colores infinite;
  font-weight: 700;
}

@mixin titulo($color) {
  color: $color;
  animation: 10s titulo infinite;
  font-weight: 700;
}

@mixin icono($color, $width, $height, $padding) {
  background-color: $color;
  width: $width;
  height: $height;
  padding: $padding;
}